{% extends 'base.html.twig' %}

{% block title %}
 <p> Hello </p>
{% endblock title %}

{% block body %}

<p>  Allowing "new" Tags with the "Prototype"¶

Allowing the user to dynamically add new tags means that you'll need to use some JavaScript. Previously you added two tags to your form in the controller. Now let the user add as many tag forms as they need directly in the browser. This will be done through a bit of JavaScript.

The first thing you need to do is to let the form collection know that it will receive an unknown number of tags. So far you've added two tags and the form type expects to receive exactly two, otherwise an error will be thrown: This form should not contain extra fields. To make this flexible, add the allow_add option to your collection field.</p>

{% endblock %}


